/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.1.2016, 12:02:05
    Author     : Filip Uhlir
    Description: Variables for Artheme
*/
$ArtInnerColor: #F9F9F9;
$ArtPink: #fb026a;
$ArtBlue: #27b1f9;
$ArtBlack: #212121;
$ArtLinks: #44628a;
$Artfonts: Arial, "Helvetica Neue", Helvetica,sans-serif;
$Artheadlines: Arial, "Helvetica Neue", Helvetica,sans-serif;


